{
  "openapi": "3.0.3",
  "info": {
    "title": "Conference Partner API",
    "description": "Read-only REST API over the Conference Partner dataset: academic conferences and journals with CFPs, deadlines, locations, CCF / ICORE / QUALIS rankings, curated ranking lists and site statistics. Authentication: search, ranking-list and statistics endpoints need NO credentials — call them directly; anonymous clients share a small daily quota counted per source IP (HTTP 429 when exhausted). Only the per-venue detail endpoints (/api/conferences/{id}, /api/journals/{id}, /api/researchers/{id}) require a free-account credential — either an API key created at https://www.myhuiban.com/account/api-keys (starts with hb_, never expires, revocable individually) or a JWT from POST /api/login; both are sent as `Authorization: Bearer <credential>` and both raise the daily quota (shared with the MCP server at POST /mcp; HTTP 402 when exhausted). An invalid, revoked or expired credential returns HTTP 401 and is never silently downgraded to the anonymous tier — omit the header entirely to use it. CORS is open on every endpoint. Responses link each venue to its canonical Conference Partner detail_page and do not expose the external website. Developer guide: https://www.myhuiban.com/developers — ranking definitions and update cadence: https://www.myhuiban.com/methodology — LLM-oriented site description: https://www.myhuiban.com/llms.txt.",
    "version": "2.1.0",
    "contact": {
      "name": "Conference Partner",
      "url": "https://www.myhuiban.com/",
      "email": "admin@myhuiban.com"
    }
  },
  "servers": [
    {
      "url": "https://www.myhuiban.com",
      "description": "Current environment"
    },
    {
      "url": "https://www.myhuiban.com",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Free-account credential, either form: an API key created at https://www.myhuiban.com/account/api-keys (starts with `hb_`, never expires, revocable individually, metered per key — this is the one to use with MCP clients that only take a URL plus a fixed header), or a JWT issued by POST /api/login (valid ~6 months, not individually revocable). Send as `Authorization: Bearer <credential>`. All credentials on an account share one daily quota, itself shared with the MCP server; quota exhaustion returns HTTP 402, an unusable credential returns HTTP 401."
      },
      "paidAccess": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Paid-Access",
        "description": "Per-request x402 payment channel — PLANNED, NOT YET LIVE. The origin recognises this header once the edge injects it after verifying a payment, but the edge-side gateway is not enabled, so clients currently cannot pay per request. Use the anonymous tier or a free-account API key / JWT instead."
      }
    },
    "schemas": {
      "ApiResponse": {
        "type": "object",
        "description": "Uniform envelope: business code mirrors HTTP semantics (200 success; validation errors return HTTP 200 with code 400 in the body; missing entities return HTTP 404).",
        "properties": {
          "code": {
            "type": "integer",
            "example": 200
          },
          "message": {
            "type": "string",
            "example": "Success"
          },
          "data": {
            "nullable": true
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message",
          "request_id"
        ]
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "format": "password"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "description": "Search endpoints only"
          },
          "total_pages": {
            "type": "integer",
            "description": "Search endpoints only"
          },
          "count": {
            "type": "integer",
            "description": "Ranking endpoints only: rows in this page"
          },
          "has_more": {
            "type": "boolean",
            "description": "Ranking endpoints only"
          },
          "page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          }
        }
      },
      "Conference": {
        "type": "object",
        "description": "Conference row. Responses never include the external website; use detail_page (the canonical Conference Partner page).",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1234
          },
          "short_name": {
            "type": "string",
            "example": "ICML"
          },
          "full_name": {
            "type": "string",
            "example": "International Conference on Machine Learning"
          },
          "submission_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "notification_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "conference_date": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "ccf_rank": {
            "type": "string",
            "description": "A / B / C, empty when unranked"
          },
          "core_rank": {
            "type": "string",
            "description": "A* / A / B / C, empty when unranked"
          },
          "qualis_rank": {
            "type": "string",
            "description": "A1..C, empty when unranked"
          },
          "is_extended": {
            "type": "boolean",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date this venue was last changed; null if never edited. Use as the updated_since checkpoint."
          },
          "detail_page": {
            "type": "string",
            "format": "uri",
            "example": "https://www.myhuiban.com/conference/1234"
          }
        }
      },
      "Researcher": {
        "type": "object",
        "description": "Public researcher profile. Contact details (email) are never included. List fields are truncated; the matching *_count field carries the untruncated total.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 42
          },
          "name": {
            "type": "string"
          },
          "institution": {
            "type": "string"
          },
          "member_since": {
            "type": "string",
            "format": "date",
            "nullable": true
          },
          "research_profile": {
            "type": "string",
            "nullable": true,
            "description": "System-generated research-interest summary (null when the user has too little browsing history)"
          },
          "cv": {
            "type": "string",
            "nullable": true
          },
          "followers_count": {
            "type": "integer"
          },
          "tracked_conferences_count": {
            "type": "integer"
          },
          "tracked_conferences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conference"
            }
          },
          "attended_conferences_count": {
            "type": "integer"
          },
          "attended_conferences": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Conference"
            }
          },
          "tracked_journals_count": {
            "type": "integer"
          },
          "tracked_journals": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Journal"
            }
          },
          "detail_page": {
            "type": "string",
            "format": "uri",
            "example": "https://www.myhuiban.com/researcher/42"
          }
        }
      },
      "Journal": {
        "type": "object",
        "description": "Journal row. Responses never include the external website; use detail_page.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 379
          },
          "short_name": {
            "type": "string",
            "nullable": true
          },
          "full_name": {
            "type": "string"
          },
          "impact_factor": {
            "type": "string",
            "nullable": true
          },
          "publisher": {
            "type": "string",
            "nullable": true
          },
          "issn": {
            "type": "string",
            "nullable": true
          },
          "ccf_rank": {
            "type": "string",
            "description": "A / B / C, empty when unranked"
          },
          "updated_at": {
            "type": "string",
            "format": "date",
            "nullable": true,
            "description": "Date this venue was last changed; null if never edited. Use as the updated_since checkpoint."
          },
          "detail_page": {
            "type": "string",
            "format": "uri"
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "This endpoint needs credentials (only the per-venue detail endpoints do), or the credential sent is invalid / revoked / expired: send Authorization: Bearer <credential> — an API key from https://www.myhuiban.com/account/api-keys or a JWT from POST /api/login. Omit the header entirely to use the anonymous tier",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiResponse"
            }
          }
        }
      },
      "QuotaExhausted": {
        "description": "Account daily quota exhausted (shared across REST API and MCP); retry after the daily reset, or email admin@myhuiban.com for a higher limit",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiResponse"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests: either the per-minute rate limit, or the anonymous per-source-IP daily quota (register a free account to raise it). Check X-RateLimit-* / X-Quota-* response headers to tell them apart.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ApiResponse"
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "paidAccess": []
    }
  ],
  "paths": {
    "/api/login": {
      "post": {
        "operationId": "login",
        "summary": "Exchange email/password for a JWT bearer token",
        "tags": [
          "Auth"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token issued (data.token / data.token_type / data.expires_in / data.user_id); invalid credentials return body code 401",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/conferences": {
      "get": {
        "operationId": "searchConferences",
        "summary": "Search academic conferences",
        "description": "Every parameter is optional — combine any of keyword, ranking, research field and submission/conference date ranges. Filter-only queries are supported.",
        "tags": [
          "Conferences"
        ],
        "security": [
          {},
          {
            "bearerAuth": []
          },
          {
            "paidAccess": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Keyword matched against short name and full name (case-insensitive). Optional — filter-only queries (e.g. field + deadline window, no keyword) are supported."
          },
          {
            "name": "ccf_rank",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "a",
                "b",
                "c"
              ]
            }
          },
          {
            "name": "core_rank",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ICORE rank: A* / A / B / C (use raw value)."
          },
          {
            "name": "qualis_rank",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ai",
                "vision",
                "nlp",
                "data",
                "network",
                "security",
                "se",
                "systems",
                "theory",
                "hci",
                "graphics",
                "bio",
                "robotics",
                "web",
                "ee",
                "energy",
                "materials",
                "civil",
                "education",
                "management",
                "math"
              ]
            },
            "description": "Research field (21 areas: computer science plus adjacent engineering and science disciplines, auto-tagged from venue full names)."
          },
          {
            "name": "submission_date_start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "submission_date_end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "conference_date_start",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "conference_date_end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "updated_since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Incremental sync: only venues changed on/after this date (YYYY-MM-DD). Day granularity; venues never edited have no change record and are omitted. Checkpoint on the updated_at field of the results."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paged list: data.conferences[] (Conference) + data.pagination; validation errors return body code 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/QuotaExhausted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/conferences/rankings/{ranking}": {
      "get": {
        "operationId": "listConferences",
        "summary": "Browse conference lists and rankings (no keyword needed)",
        "description": "Same data as the public list pages and the MCP list_conferences tool. Use this to enumerate the data set page by page.",
        "tags": [
          "Conferences"
        ],
        "security": [
          {},
          {
            "bearerAuth": []
          },
          {
            "paidAccess": []
          }
        ],
        "parameters": [
          {
            "name": "ranking",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "cfp",
                "past_cfp",
                "ccf",
                "core",
                "qualis",
                "most_viewed",
                "most_tracked",
                "most_attended",
                "most_competitive",
                "upcoming",
                "past",
                "trending"
              ]
            },
            "description": "cfp=open calls for papers; past_cfp=expired calls; ccf/core/qualis=venues in that tier whose submission deadline has not passed (for the whole tier catalogue, search GET /api/conferences with ccf_rank / core_rank / qualis_rank instead); most_viewed/most_tracked/most_attended=popularity; most_competitive=lowest acceptance rate; upcoming/past=by conference date; trending=most viewed in the last 30 days"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data.ranking + data.conferences[] (Conference, some rankings add trackers_count / attendees_count / acceptance_rate / views_30d) + data.pagination (count / has_more); unknown ranking returns body code 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/QuotaExhausted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/conferences/{id}": {
      "get": {
        "operationId": "getConference",
        "summary": "Get full conference detail by id",
        "description": "Basics, CFP text, acceptance-rate history, edition history, structured ratings and comments, related conferences/journals — same as the MCP get_conference tool. Requires an account token; responses link to detail_page (the canonical Conference Partner page) rather than the venue's external website.",
        "tags": [
          "Conferences"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data = Conference plus cfp_text / rating_summary / acceptance[] / history[] / trackers_count / attendees_count / related_conferences[] / related_journals[] / comments[]; missing id returns HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/QuotaExhausted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/journals": {
      "get": {
        "operationId": "searchJournals",
        "summary": "Search academic journals (all parameters optional)",
        "tags": [
          "Journals"
        ],
        "security": [
          {},
          {
            "bearerAuth": []
          },
          {
            "paidAccess": []
          }
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Keyword matched against journal full/short name."
          },
          {
            "name": "ccf_rank",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "a",
                "b",
                "c"
              ]
            }
          },
          {
            "name": "issn",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ai",
                "vision",
                "nlp",
                "data",
                "network",
                "security",
                "se",
                "systems",
                "theory",
                "hci",
                "graphics",
                "bio",
                "robotics",
                "web",
                "ee",
                "energy",
                "materials",
                "civil",
                "education",
                "management",
                "math"
              ]
            },
            "description": "Research field (21 areas: computer science plus adjacent engineering and science disciplines, auto-tagged from venue full names)."
          },
          {
            "name": "updated_since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Incremental sync: only venues changed on/after this date (YYYY-MM-DD). Day granularity; venues never edited have no change record and are omitted. Checkpoint on the updated_at field of the results."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paged list: data.journals[] (Journal) + data.pagination; validation errors return body code 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/QuotaExhausted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/journals/rankings/{ranking}": {
      "get": {
        "operationId": "listJournals",
        "summary": "Browse journal lists and rankings (no keyword needed)",
        "description": "Same data as the public list pages and the MCP list_journals tool. Use this to enumerate the data set page by page.",
        "tags": [
          "Journals"
        ],
        "security": [
          {},
          {
            "bearerAuth": []
          },
          {
            "paidAccess": []
          }
        ],
        "parameters": [
          {
            "name": "ranking",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "cfp",
                "ccf",
                "highest_if",
                "most_viewed",
                "most_tracked",
                "all"
              ]
            },
            "description": "cfp=special-issue calls for papers; ccf=CCF list; highest_if=highest impact factor; most_viewed/most_tracked=popularity; all=all journals"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data.ranking + data.journals[] (Journal, ranking=cfp adds special_issue) + data.pagination (count / has_more); unknown ranking returns body code 400",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/QuotaExhausted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/journals/{id}": {
      "get": {
        "operationId": "getJournal",
        "summary": "Get full journal detail by id",
        "description": "Basics, CFP text, special issues, structured ratings and comments, related journals/conferences — same as the MCP get_journal tool. Requires an account token; responses link to detail_page (the canonical Conference Partner page) rather than the venue's external website.",
        "tags": [
          "Journals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data = Journal plus cfp_text / rating_summary / special_issues[] / trackers_count / related_journals[] / related_conferences[] / comments[]; missing id returns HTTP 404",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/QuotaExhausted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/researchers/{id}": {
      "get": {
        "operationId": "getResearcher",
        "summary": "Get a researcher's public profile by id",
        "description": "Name, institution, auto-generated research-interest summary, CV, tracked/attended conferences and tracked journals — same as the MCP get_researcher tool. Requires an account token. **Contact details are never included**, and only individual profiles are exposed: there is no researcher search or enumeration endpoint (mirrors the website, where the researcher directory requires login). Profiles failing the anti-spam / email-verification guard are reported as HTTP 404.",
        "tags": [
          "Researchers"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data = Researcher",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Researcher"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/QuotaExhausted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/statistics": {
      "get": {
        "operationId": "getStatistics",
        "summary": "Site-level public statistics",
        "description": "Conference/journal totals, upcoming deadlines by month, conference country distribution, journal impact-factor and publisher distributions — same as the MCP get_statistics tool.",
        "tags": [
          "Statistics"
        ],
        "security": [
          {},
          {
            "bearerAuth": []
          },
          {
            "paidAccess": []
          }
        ],
        "responses": {
          "200": {
            "description": "data.conferences_total / journals_total / conference_deadline_by_month / conference_country_distribution / journal_impact_factor_distribution / journal_publisher_distribution",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/QuotaExhausted"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Companion repository: client examples, MCP client configuration and a daily snapshot of the no-credential datasets",
    "url": "https://github.com/sundou82/conference-partner-mcp"
  }
}
